{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form method="post" class="login100-form validate-form flex-sb flex-w">
                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
                <span class="login100-form-title p-b-26">
                    EduApp Login
                </span>

                {% if error %}
                    <span class="login100-form-title p-b-13 fs-15">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </span>

                {% endif %}
 
                <div class="wrap-input100 validate-input m-b-16" data-validate = "Email is required">
                    <input class="input100" type="text" name="email" value="{{ last_username }}" placeholder="Email">
                    <span class="focus-input100"></span>
                </div>
                
                <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
                    <input class="input100" type="password" name="password" value="{{ last_pass }}" placeholder="Password">
                    <span class="focus-input100"></span>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
